<!--
=========================================================
Material Dashboard - v2.1.2
=========================================================

Product Page: https://www.creative-tim.com/product/material-dashboard
Copyright 2020 Creative Tim (https://www.creative-tim.com)
Coded by Creative Tim

=========================================================
The above copyright notice and this permission notice shall be included in all copies or substantial portions of the Software. -->
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="../static/assets/img/apple-icon.png">
  <link rel="icon" type="image/png" href="../static/assets/img/favicon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Morgana Covid Model
  </title>
  <meta content='width=device-width, initial-scale=1.0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.css">
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.css">
  <link rel="stylesheet" type="text/css"
    href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
  <link href="../static/assets/css/material-dashboard.css?v=2.1.2" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="../static/assets/demo/demo.css" rel="stylesheet" />
</head>

<body class="">
  <div class="wrapper ">
    <div class="sidebar" data-color="purple" data-background-color="white"
      data-image="../static/assets/img/sidebar-1.jpg">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="purple | azure | green | orange | danger"

        Tip 2: you can also add an image using data-image tag
    -->
      <div class="logo"><a href="" class="simple-text logo-normal">
          Covid Data Board
        </a></div>
      <div class="sidebar-wrapper">
        <ul class="nav">
          <li class="nav-item active  ">
            <a class="nav-link" href="./dashboard.html">
              <i class="material-icons">dashboard</i>
              <p>Dashboard</p>
            </a>
          </li>

        </ul>
      </div>
    </div>
    <div class="main-panel">
      <div class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-12 col-md-12">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title">Data Chart</h4>
                  <p class="card-category">
                    <h6>The following table shows the primary covid data.</h6>
                  </p>
                </div>
                <div class="card-body table-responsive">
                  <canvas id="mychart" style="display:block; width:100%; height:30%;" height="322" width="644"
                    class="chartjs-render-monitor">
                  </canvas>
                </div>

                <div class="card-body table-responsive">
                  <canvas id="mychart2" style="display:block; width:100%; height:10%;" height="322" width="644"
                    class="chartjs-render-monitor">
                  </canvas>
                  <form id="m_form" name="m_form" action="/get_data" method="post">

                    <label for="countries">Choose a country:</label>
                    <select name="countries" id="countries" onchange="getDefaults()">
                      <option value="germany">Germany</option>
                      <option value="ireland">Ireland</option>
                      <option value="italy">Italy</option>
                      <option value="uk">United Kingdom</option>
                    </select>
                    <br>

                    <label for="Beds">Beds &emsp;&emsp;&nbsp;:</label>
                    <input type="number" id="Beds" name="Beds" value=0><br>

                    <label for="R0-Start">R0 Start &emsp;:</label>
                    <input type="number" id="R0-Start" name="R0-Start" value=0 step="0.0001"><br>

                    <label for="k">k&emsp;&emsp;&emsp;&emsp;&nbsp;:</label>
                    <input type="number" id="k" name="k" value=0 step="0.0001"><br>

                    <label for="x0">X0&emsp;&emsp;&emsp;&nbsp;&nbsp;:</label>
                    <input type="number" id="x0" name="x0" value=0 step="0.0001"><br>

                    <label for="R0-End">R0 End&emsp;&nbsp;&nbsp;:</label>
                    <input type="number" id="R0-End" name="R0-End" value=0 step="0.0001"><br>
                    
                    <input id="submit_m_form" name="submit_m_form" type="submit" value="Simulate">
                  </form> 
                  <label for="days">Number of days (between 1 and 1500):</label>
                  <input type="number" id="days" name="days" min="1" max="1500" value="200" onchange="updategraphs()">
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
      <footer class="footer">
        <div class="container-fluid">
          <nav class="float-left">
            <ul>
              <li>
                <a href="#">
                  WouterApp
                </a>
              </li>
              <li>
                <a href="#">
                  About Us
                </a>
              </li>
              <li>
                <a href="#">
                  Contact Us
                </a>
              </li>
              <li>
                <a href="#">
                  Get License
                </a>
              </li>
            </ul>
          </nav>
        </div>
      </footer>
    </div>
  </div>

  <!--   Core JS Files   -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <script>
    var flaskdata = JSON.parse('{{data | tojson | safe}}');

    window.chartColors = {
      red: 'rgb(255, 99, 132)',
      orange: 'rgb(255, 159, 64)',
      lightblue: 'rgb(50, 255, 255)',
      magenta: 'rgb(255, 100, 255)',
      blue: 'rgb(54, 162, 235)',
      purple: 'rgb(153, 102, 255)',
      grey: 'rgb(201, 203, 207)',
      pink: 'rgb(255, 51, 153)',
      green: 'rgb(75, 192, 192)',
      yellow: 'rgb(255, 205, 86)',
      black: 'rgb(10, 10, 10)',
      darkred: 'rgb(120, 0, 0)',
      darkgreen: 'rgb(0, 120, 0)',
      darkpink: 'rgb(102, 0, 51)',
    };

    var config = {
      type: 'line',
      data: {
        labels: [],
        datasets: [{
          label: 'My First dataset',
          backgroundColor: window.chartColors.red,
          borderColor: window.chartColors.red,
          data: [
          ],
          fill: false,
        }
        ]
      },
      options: {
        responsive: true,
        title: {
          display: true,
          text: 'Predicted Curves'
        },
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Date'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Value'
            },
            // ticks: {
            //   min: 0,
            //   max: 100,

            //   // forces step size to be 5 units
            //   stepSize: 5
            // }
          }]
        }
      }
    };

    var config2 = {
      type: 'line',
      data: {
        labels: [],
        datasets: [
        ]
      },
      options: {
        responsive: true,
        title: {
          display: true,
          text: 'Daily and Total CFR'
        },
        tooltips: {
          mode: 'index',
          intersect: false,
        },
        hover: {
          mode: 'nearest',
          intersect: true
        },
        scales: {
          xAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Date'
            }
          }],
          yAxes: [{
            display: true,
            scaleLabel: {
              display: true,
              labelString: 'Value'
            },
          }]
        }
      }
    };
    
    var colorNames = Object.keys(window.chartColors);
    
    const verticalLinePlugin = {
      getLinePosition: function (chart, pointIndex) {
          const meta = chart.getDatasetMeta(0); // first dataset is used to discover X coordinate of a point
          const data = meta.data;
          return data[pointIndex]._model.x;
      },
      renderVerticalLine: function (chartInstance, pointIndex) {
          const lineLeftOffset = this.getLinePosition(chartInstance, pointIndex);
          const scale = chartInstance.scales['y-axis-0'];
          const context = chartInstance.chart.ctx;

          // render vertical line
          context.beginPath();
          context.strokeStyle = '#ff0000';
          context.moveTo(lineLeftOffset, scale.top);
          context.lineTo(lineLeftOffset, scale.bottom);
          context.stroke();

          // write label
          context.fillStyle = "#ff0000";
          context.textAlign = 'center';
          context.fillText('MY TEXT', lineLeftOffset, (scale.bottom - scale.top) / 2 + scale.top);
      },

      afterDatasetsDraw: function (chart, easing) {
          if (chart.config.lineAtIndex) {
              chart.config.lineAtIndex.forEach(pointIndex => this.renderVerticalLine(chart, pointIndex));
          }
      }
    };

    window.onload = function () {
      Chart.plugins.register(verticalLinePlugin);
      var ctx = document.getElementById('mychart').getContext('2d');
      window.myLine = new Chart(ctx, config);
      var ctx = document.getElementById('mychart2').getContext('2d');
      window.myLine2 = new Chart(ctx, config2);
    };

    function updategraphs() {
      config.data.labels = flaskdata.dates.slice(0, document.getElementById("days").value)
      config2.data.labels = flaskdata.dates.slice(0, document.getElementById("days").value)

      document.getElementById('countries').value = flaskdata.country
      params = flaskdata.params
      document.getElementById('Beds').value =     params[0]
      document.getElementById('R0-Start').value = params[1]
      document.getElementById('k').value =        params[2]
      document.getElementById('x0').value =       params[3]
      document.getElementById('R0-End').value =   params[4]

      keys = ['S', 'E', 'H', 'I', 'C', 'R', 'D', 'Total Cases']
      config.data.datasets = []
      config2.data.datasets = []

      keys.forEach(function(key){
          var colorName = colorNames[config.data.datasets.length % colorNames.length];
          var newColor = window.chartColors[colorName];
          var newDataset = {
            label: key,
            backgroundColor: newColor,
            borderColor: newColor,
            fill: false,
            pointRadius: 0,
            hidden:false,
            // borderDash: [50, 50],
            data: flaskdata[key].slice(0, document.getElementById("days").value),
          };
          config.data.datasets.push(newDataset);
          if(key==='S' || key==='R')
            newDataset.hidden=true
          if(key==='I'){
            console.log(params[3])
            newDataset.lineAtIndex = [params[3]|0]
          }
      })
      var colorName = colorNames[config.data.datasets.length % colorNames.length];
      var newColor = window.chartColors[colorName];
      var newDataset = {
        label: 'Beds',
        backgroundColor: newColor,
        borderColor: newColor,
        fill: true,
        pointRadius: 0,
        hidden:true,
        // borderDash: [50, 50],
        data: flaskdata['Beds'].slice(0, document.getElementById("days").value),
      };

      config.data.datasets.push(newDataset);

      keys = ['Actual Cases', 'Actual Deaths']      
      keys.forEach(function(key){
          var colorName = colorNames[config.data.datasets.length % colorNames.length];
          var newColor = window.chartColors[colorName];
          var newDataset = {
            label: key,
            backgroundColor: newColor,
            borderColor: newColor,
            fill: false,
            pointRadius: 3,
            hidden:false,
            // borderDash: [50, 50],
            data: flaskdata[key],
          };
          config.data.datasets.push(newDataset);
      })

      keys = ['Total CFR', 'Daily CFR']      
      keys.forEach(function(key){
          var colorName = colorNames[config2.data.datasets.length % colorNames.length];
          var newColor = window.chartColors[colorName];
          var newDataset = {
            label: key,
            backgroundColor: newColor,
            borderColor: newColor,
            fill: false,
            pointRadius: 2,
            hidden:false,
            // borderDash: [50, 50],
            data: flaskdata[key],
          };
          config2.data.datasets.push(newDataset);
      })

      // config.data.datasets.forEach(function (dataset) {
      //   dataset.data.pop();
      // });

      window.myLine.update();
      window.myLine2.update();
    }

    function getDefaults(){
      document.getElementById('Beds').value =     0
      document.getElementById('R0-Start').value = 0
      document.getElementById('k').value =        0
      document.getElementById('x0').value =       0
      document.getElementById('R0-End').value =   0
      document.getElementById('submit_m_form').click()
    }

  </script>

  <script src="../static/assets/js/core/jquery.min.js"></script>
  <script src="../static/assets/js/core/popper.min.js"></script>
  <script src="../static/assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="../static/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Plugin for the momentJs  -->
  <script src="../static/assets/js/plugins/moment.min.js"></script>
  <!--  Plugin for Sweet Alert -->
  <script src="../static/assets/js/plugins/sweetalert2.js"></script>
  <!-- Forms Validations Plugin -->
  <script src="../static/assets/js/plugins/jquery.validate.min.js"></script>
  <!-- Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script src="../static/assets/js/plugins/jquery.bootstrap-wizard.js"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script src="../static/assets/js/plugins/bootstrap-selectpicker.js"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script src="../static/assets/js/plugins/bootstrap-datetimepicker.min.js"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/  -->
  <script src="../static/assets/js/plugins/jquery.dataTables.min.js"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script src="../static/assets/js/plugins/bootstrap-tagsinput.js"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script src="../static/assets/js/plugins/jasny-bootstrap.min.js"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script src="../static/assets/js/plugins/fullcalendar.min.js"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script src="../static/assets/js/plugins/jquery-jvectormap.js"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script src="../static/assets/js/plugins/nouislider.min.js"></script>
  <!-- Include a polyfill for ES6 Promises (optional) for IE11, UC Browser and Android browser support SweetAlert -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>
  <!-- Library for adding dinamically elements -->
  <script src="../static/assets/js/plugins/arrive.min.js"></script>
  <!--  Google Maps Plugin    -->
  <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>
  <!-- Chartist JS -->
  <script src="../static/assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="../static/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="../static/assets/js/material-dashboard.js?v=2.1.2" type="text/javascript"></script>
  <!-- Material Dashboard DEMO methods, don't include it in your project! -->
  <script src="../static/assets/demo/demo.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.bundle.js"></script>
  <script>
    $(document).ready(function () {
      $().ready(function () {
        $sidebar = $('.sidebar');

        $sidebar_img_container = $sidebar.find('.sidebar-background');

        $full_page = $('.full-page');

        $sidebar_responsive = $('body > .navbar-collapse');

        window_width = $(window).width();

        fixed_plugin_open = $('.sidebar .sidebar-wrapper .nav li.active a p').html();

        if (window_width > 767 && fixed_plugin_open == 'Dashboard') {
          if ($('.fixed-plugin .dropdown').hasClass('show-dropdown')) {
            $('.fixed-plugin .dropdown').addClass('open');
          }

        }

        $('.fixed-plugin a').click(function (event) {
          // Alex if we click on switch, stop propagation of the event, so the dropdown will not be hide, otherwise we set the  section active
          if ($(this).hasClass('switch-trigger')) {
            if (event.stopPropagation) {
              event.stopPropagation();
            } else if (window.event) {
              window.event.cancelBubble = true;
            }
          }
        });

        $('.fixed-plugin .active-color span').click(function () {
          $full_page_background = $('.full-page-background');

          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-color', new_color);
          }

          if ($full_page.length != 0) {
            $full_page.attr('filter-color', new_color);
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.attr('data-color', new_color);
          }
        });

        $('.fixed-plugin .background-color .badge').click(function () {
          $(this).siblings().removeClass('active');
          $(this).addClass('active');

          var new_color = $(this).data('background-color');

          if ($sidebar.length != 0) {
            $sidebar.attr('data-background-color', new_color);
          }
        });

        $('.fixed-plugin .img-holder').click(function () {
          $full_page_background = $('.full-page-background');

          $(this).parent('li').siblings().removeClass('active');
          $(this).parent('li').addClass('active');


          var new_image = $(this).find("img").attr('src');

          if ($sidebar_img_container.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            $sidebar_img_container.fadeOut('fast', function () {
              $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
              $sidebar_img_container.fadeIn('fast');
            });
          }

          if ($full_page_background.length != 0 && $('.switch-sidebar-image input:checked').length != 0) {
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $full_page_background.fadeOut('fast', function () {
              $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
              $full_page_background.fadeIn('fast');
            });
          }

          if ($('.switch-sidebar-image input:checked').length == 0) {
            var new_image = $('.fixed-plugin li.active .img-holder').find("img").attr('src');
            var new_image_full_page = $('.fixed-plugin li.active .img-holder').find('img').data('src');

            $sidebar_img_container.css('background-image', 'url("' + new_image + '")');
            $full_page_background.css('background-image', 'url("' + new_image_full_page + '")');
          }

          if ($sidebar_responsive.length != 0) {
            $sidebar_responsive.css('background-image', 'url("' + new_image + '")');
          }
        });

        $('.switch-sidebar-image input').change(function () {
          $full_page_background = $('.full-page-background');

          $input = $(this);

          if ($input.is(':checked')) {
            if ($sidebar_img_container.length != 0) {
              $sidebar_img_container.fadeIn('fast');
              $sidebar.attr('data-image', '#');
            }

            if ($full_page_background.length != 0) {
              $full_page_background.fadeIn('fast');
              $full_page.attr('data-image', '#');
            }

            background_image = true;
          } else {
            if ($sidebar_img_container.length != 0) {
              $sidebar.removeAttr('data-image');
              $sidebar_img_container.fadeOut('fast');
            }

            if ($full_page_background.length != 0) {
              $full_page.removeAttr('data-image', '#');
              $full_page_background.fadeOut('fast');
            }

            background_image = false;
          }
        });

        $('.switch-sidebar-mini input').change(function () {
          $body = $('body');

          $input = $(this);

          if (md.misc.sidebar_mini_active == true) {
            $('body').removeClass('sidebar-mini');
            md.misc.sidebar_mini_active = false;

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar();

          } else {

            $('.sidebar .sidebar-wrapper, .main-panel').perfectScrollbar('destroy');

            setTimeout(function () {
              $('body').addClass('sidebar-mini');

              md.misc.sidebar_mini_active = true;
            }, 300);
          }

          // we simulate the window Resize so the charts will get updated in realtime.
          var simulateWindowResize = setInterval(function () {
            window.dispatchEvent(new Event('resize'));
          }, 180);

          // we stop the simulation of Window Resize after the animations are completed
          setTimeout(function () {
            clearInterval(simulateWindowResize);
          }, 1000);

        });
      });
    });
  </script>
  <script>
    $(document).ready(function () {
      // Javascript method's body can be found in static/assets/js/demos.js
      md.initDashboardPageCharts();
      updategraphs()
    });
  </script>
</body>

</html>